@model WebsiteOrdering.Areas.ViewModelAdmin.MonanFormViewModel
@{
    var isEdit = !string.IsNullOrEmpty(Model?.Idmonan);
    var formAction = isEdit ? Url.Action("Edit", "ProductsManagement", new { area = "Admin", id = Model.Idmonan }) : Url.Action("Create", "ProductsManagement", new { area = "Admin" });
    var modalTitle = isEdit ? "Chỉnh sửa món ăn" : "Thêm món ăn";
}
<div class="modal fade" id="monanModal" tabindex="-1" role="dialog" aria-labelledby="monanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form id="formMonAn" method="post" enctype="multipart/form-data" action="@formAction">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="monanModalLabel">@modalTitle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.Idmonan)
                    @Html.HiddenFor(m => m.Anhmonan)
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Tenmonan)
                                @Html.TextBoxFor(m => m.Tenmonan, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Tenmonan, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Idloaimonan)
                                @Html.DropDownListFor(m => m.Idloaimonan, (SelectList)ViewBag.LoaiMonAn, "-- Chọn loại món --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Idloaimonan, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Giamonan)
                                @Html.TextBoxFor(m => m.Giamonan, new { @class = "form-control", type = "number", step = "0.01" })
                                @Html.ValidationMessageFor(m => m.Giamonan, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Trangthaiman)
                                @Html.DropDownListFor(m => m.Trangthaiman, new SelectList(new[] {
                                new { Value = "Còn hàng", Text = "Còn hàng" },
                                new { Value = "Hết hàng", Text = "Hết hàng" },
                                new { Value = "Ngừng kinh doanh", Text = "Ngừng kinh doanh" }
                                }, "Value", "Text", Model?.Trangthaiman ?? "Còn hàng"), "-- Chọn trạng thái --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Trangthaiman, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Mota)
                                @Html.TextAreaFor(m => m.Mota, new { @class = "form-control", rows = 4 })
                                @Html.ValidationMessageFor(m => m.Mota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ảnh hiện tại</label><br />
                                @if (!string.IsNullOrEmpty(Model?.Anhmonan))
                                {
                                    <img src="~/css/img/@Model.Anhmonan" class="img-thumbnail mb-2" style="max-width: 200px;" />
                                }
                            </div>
                            <div class="form-group">
                                <label for="anhMoi">Chọn ảnh mới (tùy chọn)</label>
                                <input type="file" name="anhMoi" class="form-control" accept="image/*" id="anhMoi" />
                                <img id="previewImage" src="#" alt="Xem trước ảnh" class="img-thumbnail mt-2" style="max-width: 300px; display: none;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>