@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebsiteOrdering.Models
@model List<Loaimonan>
@{
    var allCategories = (List<Loaimonan>)ViewBag.Categories;
    string selectedId = ViewBag.SelectedCategory as string;
}

<ul>
    @foreach (var sub in Model)
    {
        var childSub = allCategories.Where(c => c.IdloaimanCha == sub.Idloaimonan).ToList();
        if (childSub.Any())
        {
            <li class="dropdown-submenu position-relative">
                <a href="#" class="dropdown-item dropdown-toggle @(selectedId == sub.Idloaimonan ? "active" : "")">@sub.Tenloaimonan</a>
                @await Html.PartialAsync("_SubCategoryPartial", childSub)
            </li>
        }
        else
        {
            <li>
                <button type="submit"
                        name="categoryId"
                        value="@sub.Idloaimonan"
                        class="dropdown-item @(selectedId == sub.Idloaimonan ? "active" : "")">
                    @sub.Tenloaimonan
                </button>
            </li>
        }
    }
</ul>
